 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    Rosie is an independent, standing for sustainable rural development. Over the past thirty years she has worked in all the major sectors in Aberdeenshire, from tourism and hospitality to farming and forestry. With this experience, Rosie believes that she will be able to represent the constituents of Huntly, Strathbogie and the Howe of Alford faithfully in the council. Furthermore, the monthly farmers market at Huntly (where she will still be present alongside her council duties) will provide people with the perfect opportunity to speak to her about their concerns on a personal level.
                        </p>
                </div>
            </div>
        </div>
    </section>
